<div class="container">
  <div class="signUpCard">
   <form #signupForm="ngForm">
    <h2 class="heading"></h2>

    <label class="label">Email</label>
       <input 
       type="email" name="email"
       placeholder="Email address" 
       [(ngModel)]="email" class="formInput"
       maxlength="60" required/>

    <label class="label">Password</label>
      <input 
        type="password" name="password"
        placeholder="Password" 
        [(ngModel)]="password" class="formInput" 
        required/>

      <button [disabled]="!signupForm.form.valid" 
              type="submit" (click)="signUp()"
              class="btn" id="btn-signUp">
              Sign Up
      </button>
    </form>
  </div>
</div>