<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Lora:700">

<div class="navBar">
    <div id="logo"></div>
    <div id="heading"><a>{{ apptitle }}</a></div>

  <div class="links">
    <span>
      <a *ngIf="(user|async)?.uid" routerLink="/chooseroom" style="font-family:'Lora',serif;">
        <font size = "3">Home</font>
        </a>
    </span>

  	<!-- <span>
      <a *ngIf="(user|async)?.uid" routerLink="/chat">Room1</a>
    </span>
  	<span>
        <a *ngIf="(user|async)?.uid" routerLink="/chat2" style="font-family:'Lora',serif;">
          <font size = "5">Sports</font>
          </a> 
    </span>
    <span>

      <a *ngIf="(user|async)?.uid" routerLink="/chat3">Room3</a>
    </span> -->
    <span>
      <a *ngIf="!(user|async)?.uid" href="#" (click)="login()">Login</a>
    </span>
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a>
    </span>

    <span>
      <span id="userEmail" *ngIf="(user|async)?.uid"  style="font-family:'Lora',serif;">Hello, {{userEmail}}</span>
    </span>
    <span>
      <a *ngIf="(user|async)?.uid" href="#" (click)="logout() " style="font-family:'Lora',serif;">Logout</a>
    </span>
  </div>
</div>