.mainContent{
    display: flex;
    background: 
    url('../../assets/image/chooseroomBack.jpg') center center no-repeat;
}
.movieCard{
  display: block;
  border: 1px solid #000;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.85);
  width: 400px;
  height: 400px;
  margin-left: 50px;
  margin-top: 150px;
  padding: 80px 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
  overflow: hidden;
  background: 
    url('../../assets/image/movie.jpg') center center no-repeat;
    background-size: auto;


}.sportCard{
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.85);
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 150px;
    padding: 80px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
    background: 
      url('../../assets/image/sportn.jpg') center center no-repeat;
      background-size: auto;
  
  
  }.FoodCard{
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.85);
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 150px;
    padding: 80px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
    background: 
      url('../../assets/image/food.png') center center no-repeat;
      background-size: auto;
  
  
  }

h1{
    height: 2em;
    margin-left: 80px;
     margin-top: 150px;
    width: auto;
    font-size: 8em;
    color: black;
}