.btn1 {
  height: auto;
  margin-top: 50px;
  margin-left: 25px;
  background-color: #fff;
  background: 
  url('../../assets/image/movieb.png') /*center center no-repeat*/;
  background-size: 100%;
  border: none;
  color: black;
  padding: 50px;
  /*size: 50em;*/
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(255, 222, 121, 0.96), 0 1px 2px rgba(255, 222, 121, 0.96);
  transition: ease-in 0.2s;
  width: 80%;
}.btn2 {
  height: auto;
  margin-top: 150px;
  margin-left: 25px;
  background-color: #fff;
  background: 
  url('../../assets/image/fdbt.png') /*center center no-repeat*/;
  background-size: 100%;
  border: none;
  color: black;
  padding: 50px;
  /*size: 50em;*/
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(255, 222, 121, 0.96), 0 1px 2px rgba(255, 222, 121, 0.96);
  transition: ease-in 0.2s;
  width: 80%;
}.btn3 {
  height: auto;
  margin-top: 150px;
  margin-left: 25px;
  background-color: #fff;
  background: 
  url('../../assets/image/spb.png') /*center center no-repeat*/;
  background-size: 100%;
  border: none;
  color: black;
  padding: 50px;
  /*size: 50em;*/
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(255, 222, 121, 0.96), 0 1px 2px rgba(255, 222, 121, 0.96);
  transition: ease-in 0.2s;
  width: 80%;
}

.btn1:hover {
  background-color: #404040;
  color: white;
}

