.mainContent{
    display: flex;
}

.userListWrapper {
    /*background-color: #000;*/
    background: 
    url('../../assets/image/background2.jpg') center center no-repeat;;
    color: #fff;
    /*display: flex;*/
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    flex: 1;
    order: 1;
    padding:20px 0px 40px 30px;
    /*border-right: 1px solid #222;*/

   
}

.feedWrapper {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: auto;
    padding:20px 0px 0px 24px;
    background: 
    /*linear-gradient(181deg, rgba(100,200,255,0.6), rgba(0, 0, 0, 0.9)),*/
    url('../../assets/image/movieBack.jpg') center center no-repeat;;
    background-repeat: no-repeat;
    background-size: 100%;
    
}



.chatFormWrapper {
    display: flex;
    height: 50px;
    background-color: #eee;
    z-index: 3;
}

#scroll-style::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

